@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@layer components {
  .heading-h1 {
    font-size: 2rem;
    font-weight: 700;
    @apply text-center text-darkBlue mt-8;
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
    @apply text-center text-darkBlue p-5;
  }

  .btn-generic {
    font-size: 1rem;
    @apply text-white p-3 rounded-xl my-5
  }

}
